html {
    height: 100%;
    background-color: #fefef6;
    body {
        height: 100%;

        #root {
            display: flex;
            align-content: center;
            justify-content: center;
            height: 100%;

            .quote {
                font-family: 'Courgette', cursive;
                color: #31302f;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-flow: column;
                font-size: 30px;
                text-align: center;

                .author {
                    font-size: 14px;
                    color: #b9b8b3;
                    font-family: Roboto Condensed,sans-serif;
                    text-align: center;
                }
            }
        }
    }
}


